.img {
    box-shadow: 5px 6px 5px #bebebe;
    width: 14%;
    height: 20%;
    margin-top: 30px;
}
.data-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.bio-data {
    width: 45%;
}
.bio-data p {
    font-size: 18px;
    font-family: Franklin Gothic Medium;
}
ul li {
    font-size: 18px;
    font-family: Franklin Gothic Medium;
    list-style-type:none;
}
.hor-line {
    width: 80%;
    border-bottom: 0.5px solid rgb(204, 204, 204);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}