body {
    background-color: white;
    border-bottom-left-radius: 30% 20%;
    border-bottom-right-radius: 20% 30%;
}
.inner-blog-heading p {
    font-size: 80px;
    font-weight: bold;
    font-family: Franklin Gothic Medium;
    text-align: center;
}
.blog-content {
    width: 60%;
    margin: auto;
}
.blog-content-1 {
    background-color:rgb(241, 241, 241);
    border-radius :30% 70% 70% 30% / 39% 48% 52% 61% 
}
.blog-content p {
    font-size: 20px;
    font-family: Franklin Gothic Medium;
}
.blog-content h2 {
    font-size: 35px;
    font-family: Franklin Gothic Medium;
    font-weight: bold;
}
.blog-content h3 {
    font-size: 25px;
    font-family: Franklin Gothic Medium;
    font-weight: bold;
}
pre {
    text-align: left;
}
.button{
    width: 100%;
    background-color: black;
    font-family: Franklin Gothic Medium;
    color: white;
    font-size: 22px; 
    text-decoration: none;
    border: none;
    height: 50px;
    cursor: pointer;
}
.code-content {
    font-size: 18px;
    background-color: rgb(233, 233, 233);
    padding-left: 30px;
}
